*{
    margin: 0;
    padding: 0;

}

.wadah{
    width: 800px;
    margin: auto;
}


a:link{
    color: #eee;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: #eee;
}

nav{
    display: flex;
    background-color : #141c24;
    justify-content: space-between;
    padding: 5px 2px;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    padding-right: 120px;
}


@font-face {
        font-family: "Roboto";
        src: url(/fonts/Roboto-Regular.ttf);
    }

body{
    color: #eee;
    background-color: #111;
    font-family: "Roboto";
}

nav img{
    width: 178px;
}

img{
    width: 80%;
}

.warna{
    background-image: linear-gradient(to right,red,orange,red,yellow);
}

.border{
    border: 2px solid;
    padding: 10px;
}

.card{
    width: 30%;
}

.horizontal{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.rata{
    text-align: center;
}