/*about fonts*/
a:link{
    color: #eee;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: #eee;
}

.topnav{
    padding: 10px; background-color : #141c24;
}

@font-face {
        font-family: "Roboto";
        src: url(/fonts/Roboto-Regular.ttf);
    }

body{
    color: #eee;
    background-color: #111;
    font-family: "Roboto";
}